.button {
  height: fit-content;
  min-height: 3rem;
  width: fit-content;
  min-width: 10rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-size: 100% 200%;
  background-image: linear-gradient(
    to top,
    var(--background-color) 50%,
    var(--primary-color) 0
  );
  transition: background-position 200ms, color 200ms;
}

.accept-button {
    font-size: 1rem;
    min-height: 2rem;
    min-width: 5rem;
}

.button:hover {
  background-position: bottom;
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ebf0f2;
  --background-color: #232730;
  --black: #1c1b1b;
  --green: #4eb004;
  --red: #f03b00;
  --orange: #f8a532;
  --purple: #52207e;
  --olive: #0f3f3f;

  --hex-size: 50px;



  color: var(--primary-color);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

.main {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 800px) {
  .main {
    top: 2rem;
  }
}


td {
    padding-top: 5;
    font-size: 1.5rem;
    width: 50%;
}

.challenge-table {
  width: 50%;
  margin: auto auto;
  text-align: center;
  border: solid 1px var(--primary-color);
  border-radius: 0.5rem;
  border-spacing: 0 1rem;
}

.container {
  background-color: var(--black);
  width: 80%;
  max-width: 60rem;
  height: fit-content;
  margin: 2rem auto auto auto;
  border-radius: 1rem;
  padding: 2rem 2rem;
}


/* grid styling */
use {
  cursor: pointer;
  /* fill: transparent; */
}

/* other styling */
svg {
  flex: 1;
}

.piece-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.selected-piece {
    border: 1px solid transparent;
    stroke: white;
}


.board-container {
    width: 800px;
    height: 800px;
    position: relative;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.board {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
}


piece {
    /* position: absolute; */
    top: 0;
    left: 0;
    background-size: contain;
    will-change: transform;
    pointer-events: none;
}

.ant.white {
    background-image: url(/public/svg/hive-ant-beige.svg);
}

.bee.white {
    background-image: url(/public/svg/hive-bee-beige.svg);
}

.beetle.white {
    background-image: url(/public/svg/hive-beetle-beige.svg);

}

.grasshopper.white {
    background-image: url(/public/svg/hive-grashopper-beige.svg);
}

.spider.white {
    background-image: url(/public/svg/hive-spider-beige.svg);
}

.ant.black {
    background-image: url(/public/svg/hive-ant-black.svg);
}

.bee.black {
    background-image: url(/public/svg/hive-bee-black.svg);
}

.beetle.black {
    background-image: url(/public/svg/hive-beetle-black.svg);

}

.grasshopper.black {
    background-image: url(/public/svg/hive-grashopper-black.svg);
}

.spider.black {
    background-image: url(/public/svg/hive-spider-black.svg);
}
